header {
    background-color: #316759; border-bottom: 2px solid;
    text-align: center; padding: 1em;
    background-image: url(../../../assets/img/bgLeft.jpg), url(../../../assets/img/bgRight.jpg);
    background-position: center left, center right; background-repeat: no-repeat; background-size: auto;
    h2 {
        font-size: 22px; letter-spacing: 5px; text-transform: uppercase; font-weight: bold;
        color: #13363e; margin-bottom: 5px; cursor: default;   
        text-shadow: -1px -1px 0 #40B6CB, 1px -1px 0 #40B6CB, -1px 1px 0 #40B6CB, 1px 1px 0 #40B6CB;
    } 
    form {
        display: flex; justify-content: center;
        input {
            width: 70%; border-color: #000;
            font-size: 16px; text-align: center; font-family: 'Roboto', FontAwesome;
            letter-spacing: 2px; text-transform: capitalize; 
            &::placeholder {
                font-size: 14px; letter-spacing: 2px; 
                text-transform: none; 
                opacity: .7;
            }            
        }        
    }     
}